body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    height: 70px;
    width: 70px;
    margin: 15px;
    font-size: 40px;
}

.main-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#screen{
    width: 300px;
    height: 65px;
    border: 1px solid salmon;
    align-items: center;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.clear{
    height: 70px;
    width: 70px;
    border: 1px solid rgb(235, 251, 8);
    border-radius: 10px;
}

.number{
    border: 1px solid rgb(250, 188, 19);
    border-radius: 10px;
    padding-bottom: 60px;
}

.decimal,
.equal{
    border: 1px solid rgb(250, 188, 19);
    border-radius: 10px;
    padding-bottom: 60px;
}

.operator{
    border: 1px solid rgb(238, 181, 255);
    border-radius: 10px;
    padding-bottom: 60px;
}

.previous-number{
    font-size: 15px;
}

.current-number{
    font-size: 20px;
}