body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.calculator{
    background:#262424;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 6px 2px rgb(140, 140, 135);
}

.btn{
    height: 70px;
    width: 70px;
    margin: 5px;
    font-size: 40px;
}

.main-screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#screen{
    width: 250px;
    height: 65px;
    border: 1px solid rgb(10, 10, 10);
    align-items: center;
    margin-left: 5px;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid black;
    background-color: rgba(253, 249, 249, 0.753);
    border-radius: 10px;
}

.clear{
    height: 70px;
    width: 70px;
    border: 1px solid rgb(161, 33, 4);
    border-radius: 20px;
    padding-bottom: 60px;
    box-shadow: 0 20px 40px 0 rgba(233, 224, 224, 0.03), 0 27px 50px 0 rgba(0,0,0,0.19);
    color:rgb(244, 244, 244);
    background-color: rgb(161, 33, 4);
}

.number{
    border: 1px solid rgba(19, 19, 18, 0.753);
    background-color: rgba(12, 11, 11, 0.753);
    border-radius: 20px;
    padding-bottom: 60px;
    box-shadow: 0 20px 40px 0 rgba(233, 224, 224, 0.03), 0 27px 50px 0 rgba(0,0,0,0.19);
    color:rgb(244, 244, 244)
}

.number:hover{
    stroke-dashoffset: -480;
    animation: move 10s linear infinite;
    background-color: rgba(98, 81, 68, 0.753);
    background: rgba(237, 222, 222, 0.753);
    animation: mirror 3s linear infinite;
}

.decimal{
    border: 1px solid rgba(19, 19, 18, 0.753);
    background-color: rgba(12, 11, 11, 0.753);
    border-radius: 20px;
    padding-bottom: 60px;
    box-shadow: 0 20px 40px 0 rgba(233, 224, 224, 0.03), 0 27px 50px 0 rgba(0,0,0,0.19);
    color:rgb(244, 244, 244)
}


.equal{
    border: 1px solid rgba(190, 46, 94, 0.753);
    background-color: rgba(18, 17, 16, 0.753);
    border-radius: 20px;
    padding-bottom: 60px;
    box-shadow: 0 20px 40px 0 rgba(233, 224, 224, 0.03), 0 27px 50px 0 rgba(0,0,0,0.19);;
    color: rgb(244, 244, 244);
}

.decimal:hover{
    stroke-dashoffset: -480;
    animation: move 10s linear infinite;
    background-color: rgba(98, 81, 68, 0.753);
    background: rgba(237, 222, 222, 0.753);
    animation: mirror 3s linear infinite;
}

.equal:hover{
    stroke-dashoffset: -480;
    animation: move 10s linear infinite;
    background-color: rgba(242, 107, 3, 0.753);
    background: rgba(237, 86, 16, 0.753);
    animation: mirror 3s linear infinite;
}

.operator{
    border: 1px solid rgba(242, 107, 3, 0.753);
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: rgba(242, 107, 3, 0.753);
    background: rgba(244, 127, 38, 0.753);
    color:rgb(244, 244, 244)
}

.operator:hover{
    stroke-dashoffset: -480;
    animation: move 10s linear infinite;
    background-color: rgba(242, 107, 3, 0.753);
    background: rgba(240, 229, 224, 0.753);
    animation: mirror 3s linear infinite;
}

.display{
    font-size: 25px;
    color: black;
}