body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.calculator{

    grid-template-columns: repeat(4, 1fr);
}

.btn{
    height: 70px;
    width: 70px;
    margin: 5px;
    font-size: 40px;
}

.main-screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#screen{
    width: 250px;
    height: 65px;
    border: 1px solid rgb(10, 10, 10);
    align-items: center;
    margin-left: 5px;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid black;
    background-color: rgba(253, 249, 249, 0.753);
    border-radius: 10px;
}

.clear{
    height: 70px;
    width: 70px;
    border: 1px solid rgb(235, 251, 8);
    border-radius: 10px;
}

.number{
    border: 1px solid rgba(242, 107, 3, 0.753);
    background-color: rgba(242, 107, 3, 0.753);
    border-radius: 20px;
    padding-bottom: 60px;
    box-shadow: 0 20px 40px 0 rgba(233, 224, 224, 0.03), 0 27px 50px 0 rgba(0,0,0,0.19);;
}

.number:hover{
    stroke-dashoffset: -480;
    animation: move 10s linear infinite;
    background-color: rgba(242, 107, 3, 0.753);
    background: rgba(244, 127, 38, 0.753);
    animation: mirror 3s linear infinite;
}

.decimal,
.equal{
    border: 1px solid rgba(242, 107, 3, 0.753);
    background-color: rgba(242, 107, 3, 0.753);
    border-radius: 20px;
    padding-bottom: 60px;
    box-shadow: 0 20px 40px 0 rgba(233, 224, 224, 0.03), 0 27px 50px 0 rgba(0,0,0,0.19);;
}

.decimal:hover{
    stroke-dashoffset: -480;
    animation: move 10s linear infinite;
    background-color: rgba(242, 107, 3, 0.753);
    background: rgba(244, 127, 38, 0.753);
    animation: mirror 3s linear infinite;
}

.equal:hover{
    stroke-dashoffset: -480;
    animation: move 10s linear infinite;
    background-color: rgba(242, 107, 3, 0.753);
    background: rgba(244, 127, 38, 0.753);
    animation: mirror 3s linear infinite;
}

.decimal{
    border: 1px solid rgba(242, 107, 3, 0.753);
    background-color: rgba(242, 107, 3, 0.753);
    border-radius: 20px;
    padding-bottom: 60px;
    box-shadow: 0 20px 40px 0 rgba(233, 224, 224, 0.03), 0 27px 50px 0 rgba(0,0,0,0.19);;
}

.operator{
    border: 1px solid rgb(238, 181, 255);
    border-radius: 10px;
    padding-bottom: 60px;
}

.previous-number{
    font-size: 25px;
    color: black;
}

.current-number{
    font-size: 30px;
    color: black;
}